
# specific files to ignore
.suo
*.user
*.sln.docstates
**/IncrementLog-*.txt

# ignore build output
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
x64/

# ignore NuGet packages
*.nupkg
**/packages/*


# ignore these folders
.git
.vs
.vscode
coverage
